.container {
    font-family: arial;
    font-size: 24px;
}

p {
    text-align: center;
}

input:valid {
    border-color: green;
}

input:invalid {
    border-color: red;
}

input:focus:invalid {
    outline: none;
}